
.center_ii {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 20px;
  background: #086cdf;
  color: #fcfbfc;
  border: 3px solid white; 
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;  
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12pt !important;  
  display:table-cell;
  vertical-align:middle;
  float:left;
  width: 100%;
  height: auto;
}

#goog-gt-tt, .goog-te-balloon-frame{display: none !important;} 
.goog-text-highlight { background: none !important; box-shadow: none !important;}

.goog-logo-link{display: none !important;}
.goog-te-gadget{height: 28px !important;  overflow: hidden;}

.goog-te-banner-frame{display: none !important;}

.goog-te-combo {
  font-family: arial;
  font-size: 12pt !important;
  height: 100%;
}

